*{margin: 0;padding:0;}
ul{list-style: none;}
a{text-decoration: none; color:#333;}

section{
    width:100%;
}
.main{
    width: 1680px;
    height: auto;
    margin: 0 auto;
}
.main_top{
    width: 100%;
    padding: 30px 0;
}
.main_top h1{
    font-size: 60px;
}
.mt-left{
    height: 80px;
    box-sizing: border-box;
    
}
.mt-left li{
    float:left;
}
.mt-left li a{
    display: block;
    padding: 30px 10px;
    font-size: 32px;
}
.main_middle{
    width: 100%;
    padding: 30px 0;
}
.main_middle ul{
    height: 695px;
}

.main_middle ul li{
    width:388px;
    height: 695px;
    border: 1px solid #333;;
}
.main_middle ul li .m_top{
    width:388px;
    height:388px;
    border-radius: 30px;  
    overflow: hidden;
}
.main_middle ul li .m_top img{
    width:388px;
    height:388px;  
}