*{margin:0;padding:0;}
ul,li{list-style:none;}
body{background-color:#333;}
img{border:0px;}

#wrap{width:640px;margin:100px auto 0 auto;}
#nav li{float:left;}
#nav li a{
	display:block;border:2px solid #bbb;
	margin:0 6px 10px 0;border-radius:5px;
}
#nav li a img{width:70px;}
#window{clear:both;}
#nav li a.active{border:2px solid #fff;}