*{margin: 0px; padding:0px}
ul,li{list-style: none;}

section{
    width: 100%;
}
.title{
    width:1500px;
    margin: 0 auto;
    border: 1px solid red;
   
    font-size: 23px;
    font-weight: bold;
}



.slide{
    width:1500px;
    margin: 0 auto;
    border: 1px solid blue;
}

.slide ul{

}
.slide ul li{
    /* float:left; */
    display: inline-block;
    margin-right: 10px;
}
.slide ul li img{
    width: 225px;
    height: 250px;
}

.slide ul li .name{
    font-weight: bold;
    color:#666;
}
.slide ul li .discount{
    color:#666;
}
.slide ul li .price{
    font-weight: bold;
}
.slide ul li span{
    color:red;
    font-weight: bold;
    margin-right: 5px;
}
