*{margin: 0;padding: 0;}
.cf:after{
  content: "";
  display: block;
  clear: both;
}
/* 이렇게 코딩하고 높이가 필요한 부분에 class="cf" 넣어주면됨 */

.bigbox{
  width:1000px;
  border:5px solid tan;
  margin: 0 auto; 
  padding-bottom: 30px;
}
.bigbox h2{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bigbox .box{
  float:left;
  border: 5px solid lime;
  margin-left: 32px;
  margin-top: 30px;
  width:200px;
  height:150px;
}

.bigbox .box img{
  display:block;
  width:100%;
}


/* -------------------------- */


.abigbox{
    width:1000px;
    border:5px solid tan;
    margin: 0 auto; 
    padding-bottom: 30px;
  }
  .abigbox h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .abigbox .abox{
    float:left;
    border: 5px solid lime;
    margin-left: 32px;
    margin-top: 30px;
    width:200px;
    height:150px;
  }
  
  .abigbox .abox img{
    display:block;
    width:100%;
  }


  /* -------------------- */
  .abox1{overflow: hidden;}

  .abox1 img{
    transform:scale(1);
    transition:all 0.3s;
  }

  .abox1:hover img{
    transform:scale(1.3);
  }

  /* -------------------- */
  .abox2{overflow: hidden;}

  .abox2{
    transform:scale(1);
    transition:all 0.3s;
  }

  .abox2:hover{
    transform:scale(1.3);
  }
/* ------------------------ */
.abox3{overflow: hidden;}

.abox3 img{
  /* transform:scale(1,1); */
  transform:scale;
    /* 기본값 1,1 생략가능 */
  transition:all 0.3s;
}

.abox3:hover img{
  transform:scale(1,1.5);
}


/* ------------------------ */


.bbigbox{
    width:1000px;
    border:5px solid tan;
    margin: 0 auto; 
    padding-bottom: 30px;
  }
  .bbigbox h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .bbigbox .bbox{
    float:left;
    border: 5px solid lime;
    margin-left: 32px;
    margin-top: 30px;
    width:200px;
    height:150px;
  }
  
  .bbigbox .bbox img{
    display:block;
    width:100%;
  }
  /* ----------------- */

  .bbox1 img{
    transform: rotate(0deg);
    transition: all 0.3s;
  }

  .bbox1:hover img{
    transform: rotate(360deg);
  }


    /* ----------------- */

    .bbox2 img{
        transform: rotate(0deg);
        transition: all 0.3s;
    }
    
    .bbox2:hover img{
        transform: rotateY(360deg);
    }


   /* ----------------- */

    .bbox3{
        perspective: 200px;
    }
    /* 원근 */

    .bbox3 img{
        transform-origin: left top;
        transform: rotate(0deg);
        transition: all 2s;
        }
        
    .bbox3:hover img{
        transform: rotateY(360deg);
    }
    
  
   /* ----------------- */

.bbox4 img{
    transform-origin: left top;
    /* scale도 똑같이 사용가능 */
    transform: rotate(0deg);
    transition: all 0.3s;
    }
    
.bbox4:hover img{
    transform: rotate(360deg);
}
/* ---------------------------------- */


.cbigbox{
    width:1000px;
    border:5px solid tan;
    margin: 0 auto; 
    padding-bottom: 30px;
  }
  .cbigbox h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .cbigbox .cbox{
    float:left;
    border: 5px solid lime;
    margin-left: 32px;
    margin-top: 30px;
    width:200px;
    height:150px;
  }
  
  .cbigbox .cbox img{
    display:block;
    width:100%;
  }
  
  .cbox1{
    position: relative;
    overflow: hidden;
  }
  .cbox1 img{
    position: absolute;
    top:150px;
    left:0px;
    transition: all 0.3s;
  }
  .cbox1:hover img{
    top:0;
  }

/* /////////////// */

.cbox2{
    position: relative;
    overflow: hidden;
}
  .cbox2 img{
    transform: translate(0,150px);
    /* translate= move */
    /* 현재위치를 기준으로 함. x축 그대로, y축 아래로 150px이동 */
    transition: all 0.3s ;
  }
  .cbox2:hover img{
    transform: translate(0,0);
  }


  
  
  /* -------------------------- */
  .cbox3{
    position: relative;
    overflow: hidden;
  }

  .cbox3::before{
    content:"Best 1 상품";
    position:absolute;
    width: 100%;
    height: 40px;
    background-color: #333;
    color: wheat;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    bottom:-40px;
    left:0; 
    transition: all 0.3s ;
    
  }

  .cbox3:hover::before{
    bottom:0px;
  }

  .cbox4{
    position: relative;
  }
  .cbox4::after{
    content:"";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: rgb(0,0,244,1);
    top:0;
    left:0;
    transition: all 0.3s;
  }
  .cbox4 p{
    position: absolute;
    width: 100%;
    /* height: 70%;
    padding-top:30%; */
    height: 100%;
    padding-top: 20%;
    box-sizing: border-box;
    font-weight: bold;
    color:white;
    top:0;
    left:0;
    z-index: 1;
    /* ::before를 쓰거나 z-index 쓰거나 */
    opacity: 0;
    /* 불투명도 0>1(hover) */
    text-align: center;
    transition: all 0.3s;
    background: url(images/more.png) 50% 80% no-repeat;
    /* background의 여러 속성을 총괄하는 축약형  */
    /* 선행되는 background-color가 있다면 사라짐 */
    /* 속성을 추가로 주고 싶다면 축약형 background에 주거나 뒤로 선언하기. */
  }
  .cbox4:hover::after{
    width: 100%;
  }

  .cbox4:hover p{
    opacity: 1;
  }
