/* 0923 - 커피숙제 리뷰 */


*{padding:0px; margin: 0px;}

.wrap{
    width: 900px;
    margin: 0 auto;
    /* 블럭요소 전체 중앙정렬
    인라인 요소에는 X */
}

header{
    height: 300px;
    background: url(../images/top.jpg);
    position:relative;
}

header h1{
    position:absolute;
    left:80%;
    top:80%;
    color:white;
}

nav{
    width:900px;
    height: 70px;
    background-color: #2a1d0a;
}

nav ul{
    list-style: none;
}
/* 불릿 없애기 */

nav ul li{
    float:left;
    margin-left: 26px;
    margin-top: 15px;
}

nav ul li a{
    display: block;
    /* a는 넓이 높이 줄 수 없는 인라인요소 -> 블럭요소로 변경 */
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border:1px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    color:white;
    text-decoration: none;
    /* margin-left: 26px; */
    /* 여기에 마진주면 li하고 멀어짐 */
    font-weight: bold;
}

nav ul li a:hover{
    background-color: beige;
    color:black;
    text-decoration: underline;

}

.content{
    height: 550px;
    /* overflow: hidden; */

    /* footer를 포함하기 위함 */
}
section{
    width: 650px;
    height: 550px;
    float: left;
    background-color: white;
}

section h3{
    text-align: center;
    padding:10px 0;
}
section article{
    width: 270px;
    height: 200px;
    border: 1px solid #333;
    float: left;
    padding:10px;
    margin-left:20px;
    margin-bottom:20px;
}
section h4{
    background: url(../images/kong.png) no-repeat 0 0;
    padding-left:30px;
    padding-bottom:10px;

}

section article p {
    line-height: 170%;
    text-align: justify;
    /* 양쪽정렬 */
}

aside{
    width: 250px;
    float:left;
    height: 550px;
    background-color: grey;
    text-align: center;
}

aside img{ width: 220px;}

footer{
    height: 60px;
    background-color: #333;
    color:#fff;
    /* clear:both; - float를 취소. */
    text-align: center;
    line-height: 60px;
    
}