@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{margin:0;padding:0;}

body{
	font-size: 14px;
	font-family: "Noto Sans KR", sans-serif;
}

.cf:after{
	display:block;
	clear:both;
	content:"";
}
ul,li{list-style:none;}
a{text-decoration:none;color:#000;}
/* --------------------- */

header{
	border: 1px solid red;
	width: 100%;
    height: 100%; 
	position: relative;
	

}

.header_out{
	border: 3px solid blue;
	width: 1000px;
	height: 140px;
	margin: 0 auto;
}

/* --------------------header 내부-------- */

.header_top{
	position: absolute;
	right:0;
	top:0;
	width: 200px;
	height: 20px;

	background-color:red;
}

.header_top ul li{float:left}